#contact {
    background-color: #080809;
    padding: 4rem 1rem;
    color:white
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  form input, form textarea, form button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form textarea {
    height: 150px;
  }
  
  form button {
    background-color: #1fd2a5;
    color: white;
    border: none;
    cursor: pointer;
    width: 106%;
  }
  
  form button:hover {
    background-color: #0056b3;
  }