  
#profile-about-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    background-color: #080809; 
    color: rgb(255, 255, 255);
    height: 50%; 
  }

  #profile-about-container > * { 
    flex: 1;
    max-width: 50%; 
  }


  #profile {
    flex: 1; 
    max-width: 100%; 
    text-align: center; 
  }
  
  .profile-box {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 2px solid, #14765e; 
    box-shadow: 0 3px 5px rgba(9, 21, 131, 0.868);
    margin: 0 auto; 
  }
  
  .profile-box img {
    width: 100%;
    height: 120%;
    object-fit: cover; 
  }