#resume {
    background-color: #080809;
    padding: 0.25rem 1rem;
    color:white
  }
  
  #resume a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  

.resume-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
  } 
  
  .resume-thumbnail iframe {
    border: 2px solid #1fd2a5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .resume-thumbnail p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
 
  .resume-full {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 80%; 
    background: white;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    padding: 1rem;
    overflow: hidden; 
  }
  
  .resume-full iframe {
    width: 100%;
    height: calc(100% - 40px); 
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.2s;
  }
  
  .close-btn:hover {
    background: #0056b3;
  }
  
  .full-btn{
    padding-top: 1rem;
  }

  .btn-to-full{
    background: #323232;
    color: white;
    border: 1px solid #1fd2a5;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(9, 21, 131, 0.868);
  }
